#columna2{
    text-align: justify;
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 10px;
        padding-right: 10px;
        float: left;width: 75%;
        margin-bottom: 10px;
    
}

#contenido{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;width: 75%;
    margin-bottom: 10px;
    

}

footer{
    clear: both;
    border-width: thin 0px;
    border-style: ridge;
    background-color: rgba(218, 221, 23, 0.945);
    

}
