#columna3{
    width: 20%;
    float: right;
    text-align: justify;
    
}

.seccion1{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;width: 45%;
    margin-bottom: 10px;
    
}
.seccion2{
    float: left;
    width: 30%;
    white-space: pre-line;
    margin-bottom: 10px;
}